::ng-deep .cdk-overlay-pane .langMenuPanel {
  min-width: 10vw !important;
  position: absolute;
  right: 0;
}

.menuitem {
  display: flex;
  align-items: center;
  width: 10vw;
  width: 10vw;

  .lang-icon {
    height: 40%;
    padding-right: 10%;
  }
}

.mat-menu-content {
  padding: 0;
}
