<mat-toolbar fxLayout="row" color="primary" fxLayoutAlign="end center">
    <a *ngFor="let item of menuItems" [routerLink]="item.link">
        <button mat-button fxHide.xs>
        {{item.label}}
    </button>
    </a>

    <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #dropMenu="matMenu" backdropClass="dropdownMenu">

        <ng-container *ngFor="let item of menuItems">
            <a [href]="item.link">
                <button mat-menu-item>
                {{item.label}}
            </button>
            </a>

            <mat-divider></mat-divider>
        </ng-container>
    </mat-menu>
</mat-toolbar>