<mat-toolbar class="top-toolbar" fxLayout="row" color="primary" fxLayoutAlign="space-between center" fxLayoutAlign.lt-md="space-between center">
    <!-- <span  fxHide fxShow.lt-md class="toolbar-title"> -->
    <span class="toolbar-title">
    <img class="logo-icon" src="assets/images/motion_logo_thumbnail.png" />
    <img class="logo-text" src="assets/images/fanniborbas_logo_text.png" />
    </span>
    <!-- Desktop menu -->
    <span class="top-menu-wrapper">
    <a *ngFor="let item of menuItems" [routerLink]="item.link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" #rla="routerLinkActive" [fragment]="item?.fragment">
        <button mat-button fxHide.lt-md [ngClass]="rla.isActive ? 'selectedMenuItem' : ''">
        {{item.label}}
    </button>
    </a>
    <language-switcher fxHide.lt-md></language-switcher>
    </span>

    <!-- Mobile mneu -->
    <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.lt-md>
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #dropMenu="matMenu" backdropClass="dropdownMenu">
      <language-toggle fxHide fxShow.lt-md></language-toggle>
        <ng-container *ngFor="let item of menuItems">
            <a [routerLink]="item.link" [fragment]="item?.fragment">
                <button mat-menu-item>
                {{item.label}}
            </button>
            </a>

            <mat-divider></mat-divider>
        </ng-container>
    </mat-menu>
</mat-toolbar>
