<div class="project-list">

    <ng-template #expandableImgComp>
        <div class="project-img-exp-panel gradient-border" [class.expanded-size]="panelOpenState" (click)="changePanelState()">
            <div class="project-header-img-wrapper">
                <img class="img-front" [src]=projectItem.imgSrc />
                <!-- <img class="img-front" src="assets/images/scr_eskuvokorzo.jpg" /> -->
            </div>
        </div>
    </ng-template>

    <ng-template #expandableDescComp>

        <div class="project-desc-exp-panel" [class.fixed-expanded-size]="panelOpenState">
            <div class="gradiental-border" (click)="changePanelState()">
                <div class="project-main-title-wrapper project-title" [class.expanded-content]="panelOpenState">
                    <div class="work-item-category">{{projectItem?.category}}</div>
                    <div class="work-item-title">{{projectItem.title}}</div>
                </div>
            </div>

            <div class="expanded-content" [class.expandedState]="panelOpenState">
                <p *ngIf="panelOpenState" class="project-item-desc"> {{projectItem.desc}}
            </div>
        </div>
    </ng-template>


    <div class="project-item-container" [class.left-aligned-content]="isLeftAligned">

        <ng-container *ngIf="isLeftAligned; else rightAligned">

            <ng-container *ngTemplateOutlet="expandableImgComp"></ng-container>
            <ng-container *ngTemplateOutlet="expandableDescComp"></ng-container>

        </ng-container>

        <ng-template #rightAligned>

            <ng-container *ngTemplateOutlet="expandableDescComp"></ng-container>
            <ng-container *ngTemplateOutlet="expandableImgComp"></ng-container>
        </ng-template>

    </div>