<div class="work-container">
    <div class="work-category-wrapper">

        <a [routerLink]="'/munkaim'" fragment="neptanc-anchor" class="clickable-element">

            <div class="work-category-icon-wrapper">
                <!-- <img class="work-category-icon" src="assets/images/camera gif.gif" /> -->
                <img class="work-category-icon" src="assets/images/icon_cam.png" />
            </div>

            <div class="work-category-title-wrapper">
                <h3 class="work-category-title">Media design</h3>
            </div>
        </a>

    </div>

    <div class="work-category-wrapper">

        <a [routerLink]="'/munkaim'" fragment="motivapp-anchor" class="clickable-element">

            <div class="work-category-icon-wrapper">

                <img class="work-category-icon" src="assets/images/motion_design_arrow.png" />
            </div>

            <div class="work-category-title-wrapper">
                <h3 class="work-category-title">Motion design</h3>
            </div>
        </a>

    </div>

    <div class="work-category-wrapper">
        <!-- <img class="work-category-icon" src="assets/images/motion_design_arrow.png" /> -->

        <a [routerLink]="'/munkaim'" fragment="eskuvokorzo-anchor" class="clickable-element">
            <div class="work-category-icon-wrapper">
                <img class="work-category-icon" src="assets/images/laptop_icon.png" />
            </div>

            <div class="work-category-title-wrapper">
                <h3 class="work-category-title">Web design</h3>
            </div>
        </a>
    </div>
</div>