<div class="work-container">
    <div class="work-category-wrapper">
        <div class="work-category-icon-wrapper">
            <img class="work-category-icon" src="assets/images/camera gif.gif" />
            <!-- <img class="work-category-icon" src="assets/images/motion_design_arrow.png" /> -->
        </div>

        <div class="work-category-title-wrapper">
            <h3 class="work-category-title">Media design</h3>
        </div>

    </div>

    <div class="work-category-wrapper">

        <div class="work-category-icon-wrapper">
            <img class="work-category-icon" src="assets/images/motion_design_arrow.png" />
        </div>

        <div class="work-category-title-wrapper">
            <h3 class="work-category-title">Motion design</h3>
        </div>

    </div>

    <div class="work-category-wrapper">
        <!-- <img class="work-category-icon" src="assets/images/motion_design_arrow.png" /> -->


        <div class="work-category-icon-wrapper">
            <img class="work-category-icon" src="assets/images/laptop_icon.png" />
        </div>

        <div class="work-category-title-wrapper">
            <h3 class="work-category-title">Web design</h3>
        </div>

    </div>
</div>

<!-- <div class="work-container">
    <div class="work-category-wrapper">
        <img class="frame-media-design-back" src="assets/images/Vector_11.png" />
        <img class="category-img" src="/assets/images/neptanc.png" />
        <img class="frame-media-design-front" src="assets/images/Vector_10.png" />
        <h3 class="work-category-title">Media design</h3>
    </div>

    <div class="work-category-wrapper">
        <img class="frame-media-design-back" src="assets/images/Vector_11.png" />
        <img class="category-img" src="/assets/images/neptanc.png" />
        <img class="frame-media-design-front" src="assets/images/Vector_10.png" />
        <h3 class="work-category-title">Motion design</h3>

    </div>

    <div class="work-category-wrapper">
        <img class="frame-media-design-back" src="assets/images/Vector_11.png" />
        <img class="category-img" src="/assets/images/neptanc.png" />
        <img class="frame-media-design-front" src="assets/images/Vector_10.png" />
        <h3 class="work-category-title">Web design</h3>

    </div>
</div> -->