<div class="work-page">

    <div class="my-work-section base-side-padding">
        <h2>Munkáim</h2>
    </div>

    <floating-menu fxHide.xs></floating-menu>
    <div class="project-list">
        <div class="base-side-padding projects-desc">
            Imádok alkotni, kreálni valami újat legyen szó egy weboldalról, videóról, animációról vagy épp egy programkódról. A kihívások motiválnak mind az életben, mind a munkában így igyekszem a felmerülő problémákat is annak tekinteni. Grafikai tervezéssel, kép-illetve videószerkesztéssel foglalkozom, amihez elengedhetetlen, hogy saját forrásaim is legyenek, így került a kamera és a fényképezőgép a kezembe. Célom, hogy az aktuális projektekből a legtöbbet tudjam kihozni.
        </div>
        <div class="my-work-section base-side-padding work-category-header" id="motivapp-anchor">
            <h2>Motion design</h2>
        </div>

        <expandable-project-item [projectItem]="motivapp" [isLeftAligned]="true" [topPadding]="5" [isMobileDevice]="isMobileDevice"></expandable-project-item>
        <expandable-project-item id="kripto-anchor" [projectItem]="kripto" [isLeftAligned]="false" [topPadding]="5"  [isMobileDevice]="isMobileDevice"></expandable-project-item>
        <expandable-project-item [projectItem]="vizio" [isLeftAligned]="true" [topPadding]="5"  [isMobileDevice]="isMobileDevice"></expandable-project-item>
        <expandable-project-item [projectItem]="munkavedelem" [isLeftAligned]="false" [topPadding]="15"  [isMobileDevice]="isMobileDevice"></expandable-project-item>

        <div class="my-work-section base-side-padding work-category-header" id="eskuvokorzo-anchor">
            <h2>Web design</h2>
        </div>

        <expandable-project-item [projectItem]="eskuvoKorzo" [isLeftAligned]="true" [topPadding]="5"  [isMobileDevice]="isMobileDevice"></expandable-project-item>
        <expandable-project-item id="keleszto-anchor" [projectItem]="keleszto" [isLeftAligned]="false" [topPadding]="15"  [isMobileDevice]="isMobileDevice"></expandable-project-item>


        <div class="my-work-section base-side-padding work-category-header" id="neptanc-anchor">
            <h2>Videography</h2>
        </div>

        <expandable-project-item [projectItem]="neptanc" [isLeftAligned]="true" [topPadding]="5"  [isMobileDevice]="isMobileDevice"></expandable-project-item>
        <expandable-project-item id="enkicsibp" [projectItem]="enkicsibp" [isLeftAligned]="false" [topPadding]="5"  [isMobileDevice]="isMobileDevice"></expandable-project-item>

        <footer></footer>

    </div>

</div>