            @import "../../variables.scss";
            .work-page {
                height: 100%;
                display: flex;
                flex-direction: column;
            }
            
            .my-work-section {
                display: flex;
                height: 10vw;
                align-items: center;
                background-size: cover;
                background-image: url(../../assets/images/bg_grey.png);
                padding: 2vw 10vw;
                h1 {
                    margin-bottom: 0;
                    font-size: 2.5vw;
                }
            }
            
            .work-desc-section {
                display: flex;
                align-items: center;
            }
            
            .work-intro-wrapper {
                padding-top: 3vw;
                padding-bottom: 1vw;
                font-size: $defaultFontSize;
            }
            
            .project-list {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }