            @import "../../variables.scss";
            .my-work-section {
                display: flex;
                height: 10vw;
                align-items: center;
                background-size: cover;
                background-image: url(../../assets/images/bg_grey.png);
            }
            
            .work-desc-section {
                display: flex;
                align-items: center;
            }
            
            .work-intro-wrapper {
                padding-top: 3vw;
                padding-bottom: 1vw;
                font-size: $defaultFontSize;
            }