<div class="work-page">

    <div class="my-work-section base-side-padding">
        <h1>Munkáim</h1>
    </div>

    <floating-menu fxHide.xs></floating-menu>
    <div class="project-list">
        <div class="work-category-header" id="motivapp-anchor">
            <h1>Motion design</h1>
        </div>

        <expandable-project-item [projectItem]="motivapp" [isLeftAligned]="true" [topPadding]="5"></expandable-project-item>
        <expandable-project-item id="kripto-anchor" [projectItem]="kripto" [isLeftAligned]="false" [topPadding]="15"></expandable-project-item>
        <expandable-project-item [projectItem]="vizio" [isLeftAligned]="true" [topPadding]="5"></expandable-project-item>
        <expandable-project-item [projectItem]="munkavedelem" [isLeftAligned]="false" [topPadding]="15"></expandable-project-item>

        <div class="work-category-header" id="eskuvokorzo-anchor">
            <h1>Web design</h1>
        </div>

        <expandable-project-item [projectItem]="eskuvoKorzo" [isLeftAligned]="true" [topPadding]="5"></expandable-project-item>
        <expandable-project-item id="keleszto-anchor" [projectItem]="keleszto" [isLeftAligned]="false" [topPadding]="15"></expandable-project-item>


        <div class="work-category-header" id="neptanc-anchor">
            <h1>Videography</h1>
        </div>

        <expandable-project-item [projectItem]="neptanc" [isLeftAligned]="true" [topPadding]="5"></expandable-project-item>
        <expandable-project-item id="enkicsibp" [projectItem]="enkicsibp" [isLeftAligned]="false" [topPadding]="5"></expandable-project-item>

        <footer></footer>

    </div>

</div>