<div class="footer base-side-padding">
    <div>Copyright 2022</div>

    <ul class="social-icon-list ">
        <li class="social-footer-icon "><a href="https://www.facebook.com/fanni.borbas11" target="_blank"><i class="fa fa-facebook "></i></a></li>
        <li class="social-footer-icon "><a href="https://www.linkedin.com/in/fanni-borbas/" target="_blank"><i class="fa fa-linkedin "></i></a></li>
        <!-- <li class="social-footer-icon "><a href="https://www.instagram.com/borbasfanni/" target="_blank"><i class="fa fa-instagram " aria-hidden="true "></i></a></li> -->
        <li class="social-footer-icon "><a href="https://www.youtube.com/c/Funnilife" target="_blank"><i class="fa fa-youtube " aria-hidden="true "></i></a></li>
    </ul>
</div>
