@import '../../../variables.scss';
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $lightGray;
    padding: 2.5vw 10vw;
    font-size: 1.3rem;
    @media(max-width: $screenSizeMedium) {
        font-size: 1rem;
    }
}

.social-icon-list {
    display: flex;
    list-style-type: none;
    margin-bottom: 0;
}

.social-footer-icon {
    padding-right: 2vw;
}

.social-footer-icon a {
    color: $lightGray;
}

.social-footer-icon .fa:hover {
    color: $lightWhite;
    transition: color 0.3s ease-in;
}