/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import './variables.scss';
@import "~bootstrap/dist/css/bootstrap.css";
//TODO maybe no need downloadedd fonts

/*@font-face {
    font-family: "Manrope";
    src: local("Manrope") url(assets/fonts/Manrope-Regular.ttf) format("truetype");
}*/

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Manrope', san-serif;
    color: $lightGray;
    background: $primaryColor;
    h1,
    h2 {
        color: $lightWhite;
        font-weight: 100;
    }
    h1 {
        font-size: 3.4vw;
    }
    h2 {
        font-size: 2.5vw;
    }
}

.base-side-padding {
    padding: 0 10vw;
}