<div class="homepage">
    <div class="about-section base-side-padding">
        <div class="about-text-container">
            <h1>Media designer</h1>
            <p class="about-desc">Célom, hogy az elképzeléseknek egyedi, kreatív megvalósítást formáljak. Legyen szó animáció, motion design videó készítésről vagy hangulatvideó gyártásról. Amit a szakmáról tudok, mind éles projecteken keresztül tanultam.
            </p>
        </div>


        <div class="profile-circle-container">
            <div class="fanni-profile-outer">
                <img class="ellipse-img-30 fanni-profile" />
            </div>
        </div>

    </div>

    <div class="base-side-padding skills-section">
        <div fxHide.lt-md class="skills-cloud-container"><img class="skills-cloud" src="assets/images/wordcloud2_1.png" /></div>
        <div class="skills-desc">
<p class="skills-desc-text">Programozóként webfejlesztéssel foglalkozom, melyhez elengedhetetlennek tartom a felhasználó központú felületek tervezését és reszponzív megoldások kialakítását. Nagy hangsúlyt fektetek a funkcionalitás mellett a design tervezésére is, melyhez a statikus grafikai elemek mellett animációkat is készítek. Motion design videók, animációkon keresztül azonnal egy erősebb, mélyebb kapcsolatot teremtve a célközönséggel, hamar kialakul egy bizalmi kapcsolat. Hiszek a történetmesélés erejében, mely képest hatást kelteni, összekötni és korlátokat ledönteni az emberekben.</p>
            <div class="icon-asset">
                <img src="assets/images/icons/logo_photoshop.png" />
                <img src="assets/images/icons/logo_illustrator.png" />
                <img src="assets/images/icons/logo_after.png" />
                <img src="assets/images/icons/logo_premiere.png" />
                <img src="assets/images/icons/logo_audition.png" />
                <img src="assets/images/icons/html_logo.png" />
                <img src="assets/images/icons/css_logo.png" />
                <img src="assets/images/icons/js_logo.png" />
                <img src="assets/images/icons/angular_logo.png" />

            </div>
            </div>
    </div>

    <div class="work-section">
        <div class="work-section-title base-side-padding">
            <h2>Munkáim</h2>
        </div>
        <work-category-overview></work-category-overview>
    </div>


    <div class="contact-section base-side-padding">
        <h2 id="contact-anchor">Kapcsolat</h2>
        <div class="contact-container">
            <br>
            <p>Ha tetszik a munkám és egy kreatív, rugalmas és ötletekkel teli alkotótársra van szükséged, dolgozzunk együtt!
                <br>Vedd fel velem a kapcsolatot a <a class="email-link" href="mailto: fanni.borbas11@gmail.com">fanni.borbas11@gmail.com</a> e-mail-címen!</p>
        </div>
    </div>

    <footer></footer>
