<!-- <div class="topnav" id="myTopnav">
    <a>Kapcsolat</a>
    <a href="/munkaim.html">Munkáim</a>
    <a href="/index.html" class="active">Magamról</a>
    <a href="javascript:void(0);" class="icon" onclick="displayResponsiveMenu()">
        <i class="fa fa-bars"></i>
    </a>
</div> -->

<div>
    <div class="about-section base-side-padding">
        <div class="about-text-container">
            <h1>Borbás Fanni</h1>
            <h2>Media designer</h2>
            <p class="about-desc">Célom, hogy az elképzeléseknek egyedi, kreatív megvalósítást formáljak. Legyen szó hangulatvideó készítéséről, animáció készítésről vagy motion design videó gyártásról. Amit a szakmáról tudok, mind éles projecteken keresztül tanultam.</p>
        </div>

        <div class="profile-circle-container">
            <div class="ellipse-green-blue-outer">
                <img class="ellipse-img-30 ellipse-green-blue" />
            </div>
            <div class="ellipse-pink-blue-outer">
                <img class="ellipse-img-30 ellipse-pink-blue" />
            </div>
            <div class="fanni-profile-outer">
                <img class="ellipse-img-30 fanni-profile" />
            </div>
        </div>

    </div>

    <div class="base-side-padding skills-section">
        <div><img class="skills-cloud" src="assets/images/wordcloud2_1.png" /></div>
        <div>
            <p class="skills-desc">Digitális tartalomgyártáshoz az Adobe termékcsalád programjaiban szereztem átfogó tapasztalatot kép és videószerkesztés, effectezés, utómunkálás területén. 3D modellezés területén pedig a Maya és a 3Ds max illetve Cinema4D használatával egyszerűbb
                animációk, modellek készítésvel foglalkozom.</p>
        </div>
    </div>

    <div class="work-section">
        <h2>Munkáim</h2>
        <div class="work-container">
            <div class="work-category-wrapper">
                <img class="frame-media-design-back" src="assets/images/Vector_11.png" />
                <img class="category-img" src="/assets/images/neptanc.png" />
                <img class="frame-media-design-front" src="assets/images/Vector_10.png" />
                <h3 class="work-category-title">Media design</h3>
            </div>

            <div class="work-category-wrapper">
                <img class="frame-media-design-back" src="assets/images/Vector_11.png" />
                <img class="category-img" src="/assets/images/neptanc.png" />
                <img class="frame-media-design-front" src="assets/images/Vector_10.png" />
                <h3 class="work-category-title">Motion design</h3>

            </div>

            <div class="work-category-wrapper">
                <img class="frame-media-design-back" src="assets/images/Vector_11.png" />
                <img class="category-img" src="/assets/images/neptanc.png" />
                <img class="frame-media-design-front" src="assets/images/Vector_10.png" />
                <h3 class="work-category-title">Web design</h3>

            </div>
        </div>
    </div>


    <div class="contact-section">
        <h2>Kapcsolat</h2>
        <div class="contact-container">
            <p class="contact-desc">Ha tetszik a munkám és egy kreatív, rugalmas és ötletekkel teli alkotótársra van szükséged, dolgozzunk együtt!</p>
        </div>
    </div>

    <hr class="footer-separator" />

    <footer class="footer base-side-padding">
        <div>Copyright 2022</div>
        <!-- <div class="social-footer-container"> -->
        <ul class="social-icon-list">
            <li class="social-footer-icon"><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li class="social-footer-icon"><a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li class="social-footer-icon"><a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
            <li class="social-footer-icon"><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        </ul>
        <!-- </div> -->