<div class="homepage">
    <div class="about-section base-side-padding">
        <div class="about-text-container">
            <h1>Media designer</h1>
            <p class="about-desc" [translate]="'MAGAMROL.ABOUT-TEXT'">
            </p>
        </div>


        <div class="profile-circle-container">
            <div class="fanni-profile-outer">
                <img class="ellipse-img-30 fanni-profile" />
            </div>
        </div>

    </div>

    <div class="base-side-padding skills-section">
        <div fxHide.lt-md class="skills-cloud-container"><img class="skills-cloud" src="assets/images/wordcloud2_1.png" /></div>
        <div class="skills-desc">
<p class="skills-desc-text" [translate]="'MAGAMROL.SKILLS-TEXT'"></p>
            <div class="icon-asset">
                <img src="assets/images/icons/logo_photoshop.png" />
                <img src="assets/images/icons/logo_illustrator.png" />
                <img src="assets/images/icons/logo_after.png" />
                <img src="assets/images/icons/logo_premiere.png" />
                <img src="assets/images/icons/logo_audition.png" />
                <img src="assets/images/icons/html_logo.png" />
                <img src="assets/images/icons/css_logo.png" />
                <img src="assets/images/icons/js_logo.png" />
                <img src="assets/images/icons/angular_logo.png" />

            </div>
            </div>
    </div>

    <div class="work-section">
        <div class="work-section-title base-side-padding">
            <h2 [translate]="'TOPNAV.MUNKAIM'"></h2>
        </div>
        <work-category-overview></work-category-overview>
    </div>


    <div class="contact-section base-side-padding">
        <h2 id="contact-anchor">Kapcsolat</h2>
        <div class="contact-container">
            <br>
            <div [innerHtml]="'MAGAMROL.KAPCSOLAT-TEXT' | translate"></div>
        </div>
    </div>

    <footer></footer>
